@model ReviewFormViewModel
@*<form asp-controller="reviewform" asp-action="Index" method="post" >*@
@using (Html.BeginForm(Html.BeginForm("Index", "ReviewForm", FormMethod.Post, new { submit = Model })))
{
    @Html.HiddenFor(m => m.TalkId)

    <div>
        @for (int i = 0; i < Model.Questionnaire.Count; i++)
        {
            @switch (Model.Questionnaire[i].ResponseType)
            {
                case Speakr.WebApp.Site.Models.Talks.ResponseTypes.Text:
                    @Html.HiddenFor(q => Model.Questionnaire[i].QuestionId)
                    <label>@Model.Questionnaire[i].Question</label><br />
                    @Html.TextAreaFor(q => Model.Questionnaire[i].Answer)
                    <br />
                    break;

                case Speakr.WebApp.Site.Models.Talks.ResponseTypes.Emoji:
                    @Html.HiddenFor(q => Model.Questionnaire[i].QuestionId)
                    <label>@Model.Questionnaire[i].Question</label><br />
                    @Html.TextAreaFor(q => Model.Questionnaire[i].Answer)
                    <br />
                    break;

                case Speakr.WebApp.Site.Models.Talks.ResponseTypes.Rating:
                    @Html.HiddenFor(q => Model.Questionnaire[i].QuestionId)
                    <label>@Model.Questionnaire[i].Question</label><br />
                    @Html.TextAreaFor(q => Model.Questionnaire[i].Answer)
                    <br />
                    break;

                case Speakr.WebApp.Site.Models.Talks.ResponseTypes.YesNo:
                    @Html.HiddenFor(q => Model.Questionnaire[i].QuestionId)
                    <label>@Model.Questionnaire[i].Question</label><br />
                    <label>Yes: </label> @Html.RadioButtonFor(q => Model.Questionnaire[i].Answer, "Yes")
                    <label>No: </label> @Html.RadioButtonFor(q => Model.Questionnaire[i].Answer, "No")
                    <br />
                    break;

                default:
                    break;
            }
        }
    </div>

    <input type="submit" value="Submit!" />
}
@*</form>*@